docs_dir: src/
site_dir: out/doc/

site_name: Plexus
site_author: Sean Olson
site_url: https://plexus.rs

repo_url: https://github.com/olson-sean-k/plexus
repo_name: olson-sean-k/plexus
edit_uri: ""

nav:
  - Home: index.md
  - User Guide:
    - Getting Started: user-guide/getting-started.md
    - Primitives: user-guide/primitives.md
    - Indexing: user-guide/indexing.md
    - Geometry: user-guide/geometry.md
    - Generators: user-guide/generators.md
    - Buffers: user-guide/buffers.md
    - Graphs: user-guide/graphs.md
  - API Documentation:
    - plexus: rustdoc/plexus/index.html

theme:
  name: material
  custom_dir: src/theme/
  language: en
  logo: img/plexus-mono.svg
  palette:
    primary: pink
    accent: light blue
  feature:
    tabs: true

markdown_extensions:
  - admonition
  - codehilite:
      linenums: true
  - pymdownx.arithmatex
  - toc:
      permalink: true

extra:
  # TODO: Enable when the site is ready.
  # disqus: 'plexus-rs'
  social:
    - type: github
      link: https://github.com/olson-sean-k
    - type: twitter
      link: https://twitter.com/olsonseank
  search:
    language: en

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
