docs_dir: src/
site_dir: out/doc/

site_name: Plexus
site_author: Sean Olson
site_url: https://plexus.rs

repo_url: https://github.com/olson-sean-k/plexus
repo_name: olson-sean-k/plexus
edit_uri: ""

nav:
  - Home:
    - About: index.md
    - Contributing: contributing.md
    - License: license.md
  - User Guide:
    - Getting Started: user-guide/getting-started.md
    - Primitives: user-guide/primitives.md
    - Indexing: user-guide/indexing.md
    - Geometry: user-guide/geometry.md
    - Generators: user-guide/generators.md
    - Buffers: user-guide/buffers.md
    - Graphs: user-guide/graphs.md
  - API Documentation:
    - rustdoc: api.md

theme:
  custom_dir: src/theme/
  favicon: img/favicon.ico
  feature:
    tabs: true
  name: material
  language: en
  logo: img/plexus-minimal.svg
  palette:
    primary: pink
    accent: light blue

markdown_extensions:
  - admonition
  - codehilite:
      linenums: true
  - pymdownx.arithmatex
  - toc:
      permalink: true

extra:
  # TODO: Enable when the site is ready.
  # disqus: 'plexus-rs'
  search:
    language: en
  social:
    - type: github
      link: https://github.com/olson-sean-k
    - type: twitter
      link: https://twitter.com/olsonseank

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
