docs_dir: src/
site_dir: out/site/

site_name: Plexus
site_author: Sean Olson
site_url: https://plexus.rs

repo_url: https://github.com/olson-sean-k/plexus
repo_name: olson-sean-k/plexus
edit_uri: ""

nav:
  - Home: index.md
  - License: license.md
  - User Guide:
    - Getting Started: user-guide/getting-started.md
    - Geometry: user-guide/geometry.md
    - Graphs: user-guide/graphs.md
  - Contributor Guide:
    - Tools and Hosting: contributor-guide/tools-and-hosting.md
  - API Documentation: rustdoc/plexus/index.html

theme:
  custom_dir: src/theme/
  favicon: img/favicon.ico
  name: material
  language: en
  logo: img/plexus-minimal.svg
  palette:
    scheme: slate
    primary: pink
    accent: light blue

markdown_extensions:
  - admonition
  - pymdownx.arithmatex
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed
  - toc:
      permalink: true

plugins:
  - search:
      lang:
        - en
  - minify:
      minify_html: true

extra:
  # TODO: Enable when the site is ready.
  # disqus: 'plexus-rs'
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/olson-sean-k
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/olsonseank

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
